
.defect-container {
    display: flex;
}

.defect-detail-container {
    margin: 4px 16px;
    flex-grow: 1;
}

.defect-attachments-container {
    margin: 4px 16px;
}

.w-100 {
    width: 100%
}
.defects-comments-container {
    border: 1px solid gray;
    padding: 10px;
}